---
---
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base{
  @font-face {
    font-family: "open sans";
    src: url(../../assets/font/OpenSans-Regular.ttf);
  }
  @font-face {
    font-family: "open sans light";
    src: url(../../assets/font/OpenSans-Light.ttf);
  }
  @font-face {
    font-family: "poppins";
    src: url(../../assets/font/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: "forte";
    src: url(../../assets/font/FORTE.TTF);
  }
  .h1{
    @apply text-center col-span-full text-3xl
  }
}